SPRING_APPLICATION_NAME= <user-management>
SERVER_PORT=
CONFIG_SERVER_URL=
SPRING_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=
# ============
# Database Config
DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER_CLASS_NAME= <org.postgresql.Driver>
#===========
# JWT Config
JWT_SECRET=
#===========
# Email Config
SPRING_MAIL_HOST= <smtp.gmail.com>
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PORT= <587>
#===========
# App Config
APP_BASE_URL=
APP_REGISTRATION_TOKEN_SECRET=
APP_NOTIFICATION_EMAIL_FROM=
APP_NOTIFICATION_EMAIL_SUBJECT_PREFIX= <"[VersaPath]">
APP_REGISTRATION_TOKEN_EXPIRATION_MS= <86400000>